<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav style="background-color: #fff">
            <div class="nav-wrapper">
                <h1 class="logo-wrapper">
                    <a href="@("/admin")" class="brand-logo darken-1">
                        <img src="@Url.Content("~/uploads/logo/falmedia-logo.svg")" alt="Fal Media" width="140">
                    </a>
                    <span class="logo-text">Fal Media</span>
                </h1>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="@("/")" target="_blank" class="waves-effect waves-block waves-light blue" style="height: 64px;">
                            <i class="mdi-av-web" style="display: inline-block;"></i>
                            <span style="margin-left: 8px; vertical-align: top;">Website</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->