@{
    ViewBag.Title = "Contact Us";
    ViewData["PosTitle"] = ViewBag.Message;
    Layout = "~/Views/Shared/_Page.cshtml";
}
<address>
    <i class="fa fa-map-marker"></i> P.O.Box 4900 - Riyadh 11412<br/>
    <i class="fa fa-phone"></i> <abbr title="Phone">Phone: </abbr>
    92001 9559<br/>
    <i class="fa fa-mobile"></i> <abbr title="Phone">Mobile: </abbr>
    +966 555 ‭35 0043<br/>
    <i class="fa fa-envelope"></i> <abbr title="Email">Email: </abbr><span><a href="mailto:info@falmedia.sa">info@falmedia.sa</a></span>
</address>