@using FalMedia.Core
<!-- Footer -->
<footer class="cz-page-footer">
    <div class="cz-footer-copyright">
        <div class="container">
            <div class="cz-fc-disp">
                <p class="center">&copy; FAL MEDIA</p>
                <a href="@("/" + CultureHelper.GetCurrentNeutralCulture() + "/login")" target="_blank">Login</a>
            </div>
        </div>
    </div>
</footer><!-- End footer -->
<!-- Back to top -->
<div id="back-to-top" class="back-to-top">
    <i class="fa fa-arrow-up"></i>
</div><!-- End of Back to top -->
<!-- btn contact popup -->
<div class="contact-bottom-btn">
    <a href="#modal_quote" class="btn-floating contact-floating-btn">
        <i class="material-icons">message</i>
    </a>
</div><!-- ent btn contact popup -->