<!-- Start Google Map Section -->
<section id="googlemap" class="googlemap wow zoomIn clearfix">
    <div class="map-overlay"></div>
    <div id="map">
        <iframe src="@(ViewBag.GoogleMap)" style="border: 0" allowfullscreen></iframe>
    </div>
</section><!-- End Google Map Section -->