// font family & size

//import fonts
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
$DroidKufi: 'Droid Arabic Kufi', serif;

//px size
$size10:10px;
$size11:11px;
$size12:12px;
$size13:13px;
$size14:14px;
$size15:15px;
$size16:16px;
$size17:17px;
$size18:18px;
$size19:19px;
$size20:20px;
$size21:21px;
$size22:22px;
$size23:23px;
$size24:24px;
$size25:25px;
$size26:26px;
$size27:27px;
$size28:28px;
$size29:29px;
$size30:30px;

//em size
$emsize05:0.5rem;
$emsize06:0.6rem;
$emsize07:0.7rem;
$emsize08:0.8rem;
$emsize09:0.9rem;
$emsize1:1rem;
$emsize1-5:1.5rem;
$emsize1-8:1.8rem;
$emsize1-9:1.09rem;
$emsize2:2em;
$emsize2-5:2.5rem;
$emsize2-8:2.8rem;
$emsize3:3rem;
$emsize4:4rem;
$emsize5:5rem;

//flat Colors
$flat-turquoise: #1abc9c;
$flat-green-sea: #16a085;
$flat-emerald: #2ecc71;
$flat-nephritis: #27ae60;
$flat-peter-river: #3498db;
$flat-belize-hole: #2980b9;
$flat-amethyst: #9b59b6;
$flat-wisteria: #8e44ad;
$flat-wet-asphalt: #34495e;
$flat-midnight-blue: #2c3e50;
$flat-sun-flower: #f1c40f;
$flat-orange: #f39c12;
$flat-carrot: #e67e22;
$flat-pumpkin: #d35400;
$flat-alizarin: #e74c3c;
$flat-pomegranate: #c0392b;
$flat-clouds: #ecf0f1;
$flat-silver: #bdc3c7;
$flat-concrete: #95a5a6;
$flat-asbestos: #7f8c8d;

$flatblack: #1d1d1d;

//Colors
$white: #fff;
$whiteGr:#f6f6f6;
$black: #000;
$blue: blue;
$red: red;
$green: green;
$yellow: yellow;

//fla Media Main Color
$falsecondcolor: #505859;
$falmaincolor: #0047BA;

$padding-top-bottom: 50px 0 20px !default;
$height: 100vh !default;

$box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);


